the set—an unordered collection of unique and immutable objects that supports operations corre- sponding to mathematical set theory. By definition, an item appears only once in a set, no matter how many times it is added. Accordingly, sets have a variety of applications, especially in numeric and database-focused work.
Because sets are collections of other objects, they share some behavior with objects such as lists and dictionaries

For example, sets are iterable, can grow and shrink on demand, and may contain a variety of object types. As we’ll see, a set acts much like the keys of a valueless dictionary.

In [1]:
set([1, 2, 3, 4])

{1, 2, 3, 4}

In [2]:
set('spam')

{'a', 'm', 'p', 's'}

In [3]:
S = {'s', 'p', 'a', 'm'}

In [4]:
S

{'a', 'm', 'p', 's'}

In [5]:
S.add('alot')

In [6]:
S

{'a', 'alot', 'm', 'p', 's'}

In [7]:
S1 = {1, 2, 3, 4}

In [9]:
# intersection
S1 & {1, 3}

{1, 3}

In [10]:
#union 
{1, 5, 3, 6} | S1

{1, 2, 3, 4, 5, 6}

In [11]:
# difference 
S1 - {1, 3, 4}

{2}

In [13]:
# superset
S1 > {1, 3}

True

In [14]:
# empty set cration as {} is dic
S1 - {1, 2, 3, 4}

set()

In [15]:
type({})

dict

In [16]:
S = set()
S.add(12)

In [17]:
S

{12}

# Why sets?
Set operations have a variety of common uses, some more practical than mathematical. For example, because items are stored only once in a set, sets can be used to filter duplicates out of other collections, though items may be reordered in the process be- cause sets are unordered in general. Simply convert the collection to a set, and then convert it back again

In [18]:
L = [1, 2, 1, 3, 2, 4, 5]

In [19]:
set(L)

{1, 2, 3, 4, 5}

In [20]:
L = list(set(L))

In [21]:
L

[1, 2, 3, 4, 5]

In [22]:
set([1, 3, 5, 7]) - set([1, 2, 4, 5, 6])

{3, 7}

In [23]:
set('abcdefg') - set('abdghij')

{'c', 'e', 'f'}

In [24]:
set('spam') - set(['h', 'a', 'm'])

{'p', 's'}

In [25]:
L1, L2 = [1, 3, 5, 2, 4], [2, 5, 3, 4, 1]

In [26]:
L1 == L2

False

In [27]:
set(L1) == set(L2)

True

In [28]:
sorted(L1) == sorted(L2)

True

In [29]:
'spam' == 'asmp', set('spam') == set('asmp'), sorted('spam') == sorted('asmp')

(False, True, True)

In [30]:
engineers = {'bob', 'sue', 'ann', 'vic'}

In [31]:
managers = {'tom', 'sue'}

In [32]:
'bob' in engineers

True

In [33]:
engineers & managers

{'sue'}

In [34]:
engineers | managers

{'ann', 'bob', 'sue', 'tom', 'vic'}

In [35]:
engineers - managers

{'ann', 'bob', 'vic'}

In [36]:
managers - engineers

{'tom'}

In [38]:
# Are all managers engineers? (superset)
engineers > managers

False

In [40]:
# Are both engineers? (subset)
{'bob', 'sue'} < engineers

True

In [42]:
# All people is a superset of managers
(managers | engineers) > managers

True

In [44]:
# Who is in one but not both?
managers ^ engineers

{'ann', 'bob', 'tom', 'vic'}

In [46]:
# Intersection!
(managers | engineers) - (managers ^ engineers)

{'sue'}